@model AddressBook.Models.ContactsViewModel
@{
    ViewBag.Title = "Home Page";
}
<div id="search">
    @Html.Partial("SearchContacts")
</div>
<table class="table">
    <tr>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>Contact Numbers</b></td>
        <td><b>Email Addresses</b></td>
        <td><b>Options</b></td>
    </tr>
    @foreach (var contact in Model.Contacts)
    {
        @Html.Partial("Contact", contact)
    }
</table>
